{
    "version": 1,
    "formatters": {
        "simple": {
            "format": "({asctime}) - [{levelname}] <{name}@{lineno}> {message}",
            "datefmt": "%Y-%M-%d %H:%M:%S",
            "style": "{"
        }
    },
    "handlers": {
        "console": {
            "level": "DEBUG",
            "class": "logging.StreamHandler",
            "formatter": "simple"
        }
    },
    "loggers": {
        "wechat": {
            "handlers": [
                "console"
            ],
            "level": "DEBUG",
            "propagate": true
        },
        "pushbot": {
            "handlers": [
                "console"
            ],
            "level": "DEBUG",
            "propagate": true
        }
    }
}